{% extends "base.html" %}
{% block title %} Hüseyin Zengin Kindle Gate {% endblock %}
{% block content %}
    <h1>Welcome to Dark Side</h1>
    <a href="search"><p>(Full List)</p></a>
    <form action="search" method="post">
        <div  class="input-group ">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input name="keyword" type="text" class="form-control" placeholder="Book, Author, Keyword">
        </div>
        <button style="margin: 5px;" type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock content %}
